ol, ul{
  list-style: none;
}

body {
	background-color: #263e23;
	color: #faf9f9;
    text-align: center;
}
body ul li {
	list-style-type: square;
	padding: 5px;
}

header {
	background: #171930;
	color: #faf9f9;
	text-align: center;
}
header::after {
	content: '';
	display: table;
	clear: both;
}
header nav ul li:nth-child(1){
	float: left;
}
header nav ul li:nth-child(2){
	float: initial;
}
header nav ul li:nth-child(3){
	float: right;
}

#intro {
	padding: 10px;
	size: 80%;
	font-family: "Verdana", sans-serif;
	font-size: 100%;
	background: #6D8097;
	color: #1B1924;
	border-radius: 25px;
	height: 90%;
}
#education {
	padding: 10px;
	size: 80%;
	font-family: "Raleway", sans-serif;
	font-size: 70%;
	background: #171930;
	color: #FAF9F9;
	border-radius: 25px;
	height: 90%;
}
#achievements {
	padding: 10px;
	size: 80%;
	font-family: "Verdana", sans-serif;
	font-size: 110%;
	text-align: left;
	background: #171930;
	color: #FAF9F9;
	border-radius: 25px;
	height: 90%;
}
#skills {
	padding: 10px;
	size: 80%;
	font-family: "Raleway", sans-serif;
	font-size: 65%;
	text-align: left;
	background: #6D8097;
	color: #1B1924;
	border-radius: 25px;
	height: 90%;
}
#skillsNewman {
	padding: 10px;
	Height: 300px;
	Width: 100px;
	font-family: "Raleway", sans-serif;
	font-size: 65%;
	text-align: left;
	background: #6D8097;
	color: #1B1924;
	border-radius: 25px;
}
#experience{
	padding: 10px;
	size: 80%;
	font-family: "Raleway", sans-serif;
	background: #715D5E;
	color: FAF9F9;
	border-radius: 25px;
	height: 90%;
}
#projects{
	padding: 10px;
	size: 80%;
	font-family: "Raleway", sans-serif;
	background: #6D8097;
	color: #1B1924;
	border-radius: 25px;
	height: 90%;
}
.dualContainer {
    display: grid;
    grid-template-columns: 47% 47%; 
    grid-column-gap: 3%;
}

.dualItem {
	text-align: center;
}

.videoContainer {
  position:relative;
  padding-bottom:30%;
  overflow:hidden;
}
.videoContainer iframe, .yt-container object, .yt-container embed {
  position:absolute;
  top:0;
  left:0;
  width:60%;
}
.imgContainer{
	height: 150 px;
	width: 150 px;
}