body {
	background-color: #263e23;
	color: #faf9f9;
    text-align: center;
}

header {
	background: #171930;
	color: #faf9f9;
}

header::after {
		content: '';
		display: table;
		clear: both;
}


ol, ul{
  list-style: none;
}

#intro {
	background: #6D8097;
	color: #1B1924;
	border-radius: 25px;
}
#education {
	background: #171930;
	color: #FAF9F9;
	border-radius: 25px;
}
#skills {
	background: #6D8097;
	color: #1B1924;
	border-radius: 25px;
}
#experience{
	background: #715D5E;
	color: FAF9F9;
	border-radius: 25px;
}
#projects{
	background: #6D8097;
	color: 1B1924;
	border-radius: 25px;
}
.dualContainer {
    display: grid;
    grid-template-columns: 45% 45%; 
    grid-column-gap: 10%;
}

.dualItem {
	text-align: center;
}

.videocontainer {
  position:relative;
  padding-bottom:30%;
  overflow:hidden;
}
.video-container iframe, .yt-container object, .yt-container embed {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}